!!! XML
!!!
%html{html_attrs('ja')}
  %head
    %title LLnews
    %link(rel='stylesheet' href='bootstrap/css/bootstrap.min.css')
    %link(rel='stylesheet' href='bootstrap/css/bootstrap-responsive.min.css')
    %script{src: 'bootstrap/js/bootstrap.min.js'}
    %script{src: 'http://code.jquery.com/jquery-latest.js'}
    :javascript

  %body
    %div.hero-unit
      %h1 "Light Weight Languages News"

    %div#container
      <!-- Basic tabs(bootstrap) -->
      %ul{class: 'nav nav-pills'}
        - @tags.each do |tag|
          %li
            %a{href: "#{tag}"} #{tag}

    %div.content
      %table{class: "table table-striped table-bordered table-condensed"}
        - @rubys.each do |bookmark|
          %tr
            %td.title= bookmark.title
            %td.url= bookmark.url
            %td.count= bookmark.bookmark_count

